<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-cogs"></i> Settings
        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <% if(flash && flash.err) { %>
        <% Object.keys(flash.err).forEach(function(error) { %>
        <div class="alert alert-danger" role="alert"><%- flash.err[error].message %></div>
        <% }) %>
        <hr />
        <% } %>
        <% if(flash && flash.msg) { %>
        <% Object.keys(flash.msg).forEach(function(msg) { %>
        <div class="alert alert-success" role="alert"><%- flash.msg[msg].message %></div>
        <% }) %>
        <hr />
        <% } %>

        <form action="/settings/update" method="POST" class="form-horizontal form-signin" role="form">
          <% _.each(settings, function(setting) { %>
          <div class="form-group">
            <label for="label" class="col-sm-2 control-label"><%= setting.title %></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" name="<%= setting.key %>" value="<%= setting.value %>" />
            </div>
            <div class="col-sm-5">
              <div class="input-mask"><%- setting.help %></div>
            </div>
            <div class="row">
              <div class="col-sm-offset-2 col-sm-10">
                <span class="help-block form-group-inline-message"><%- setting.desc %></span>
              </div>
            </div>
          </div>
          <% }) %>

          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Save Settings"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />

        </form>


      </div>
    </div>
  </div>
</div>