
<% if(flash && (flash.err || flash.msg)) { %>
<div class="row">
  <div class="col-xs-12">

    <% if(flash && flash.err) { %>
    <% Object.keys(flash.err).forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%- flash.err[error].message %>
    </div>
    <% }) %>
    <% } %>

    <% if(flash && flash.msg) { %>
    <% Object.keys(flash.msg).forEach(function(msg) { %>
    <div class="alert alert-success" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%- flash.msg[msg].message %>
    </div>
    <% }) %>
    <% } %>

  </div>
</div>
<% } %>

<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-share-alt-square"></i> Agreements
        <% if (deleted) { %>
        <a href="/agreement" class="btn btn-sm btn-primary pull-right"><i class="fa fa-lg fa-eye"></i> Show All</a>
        <% } else { %>
        <a href="/agreement?deleted" class="btn btn-sm btn-default pull-right"><i class="fa fa-lg fa-eye-slash"></i> Show All</a>
        <% } %>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <ul class="plastic-list dashboard-agreement-list">
          <% _.each(agreements, function(agreement) { %>
          <% if (agreement.status == 'deleted' && !deleted) return; %>
          <li class="item" data-id="<%= agreement.id %>">
            <div class="body">
              <span class="cell col-md-1 col-sm-2 col-xs-2 box-<%= Helpers.getStatusStyle(agreement.status) %>">
                <span class="plastic-tag uppercase white small center shadow"><%= agreement.status %></span>
              </span>
              <span class="cell col-md-2 box-default hidden-xs hidden-sm">
                <span class="plastic-tag center shadow small">
                  <%= Helpers.formatBigNumber(agreement.remotenode.scraped) %> /
                  <%= Helpers.formatBigNumber(agreement.remotenode.downloaded) %> /
                  <%= Helpers.formatBigNumber(agreement.remotenode.total) %>
                </span>
              </span>
              <span class="cell col-md-8 col-sm-8 col-xs-7 box-lightblue">
                <span class="plastic-tag title">[<%= agreement.remotenode.name %>] <%= agreement.title %></span>
              </span>
              <div class="btn-group cell col-md-1 col-sm-2 col-xs-3 multiline no-action box-align-right pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu no-display" role="menu">
                  <% _.each(agreement.actions, function(action) { %>
                  <li>
                    <a class="btn dashboard-agreement-action pull-right<%= (action.enabled) ? '' : ' disabled' %>"
                       data-action="<%= action.key %>" data-id="<%= agreement.id %>" href="#"
                       title="<%= action.help %>"><%- action.display %></a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <div class="expansion">

              <div class="cell col-sm-6 multiline box-lightblue">
                <div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.removedead) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title="Remove dead torrents">
                      <i class="fa fa-lg fa-recycle"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.indexfiles) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title='Index torrent files'>
                      <i class="fa fa-lg fa-database"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.allsources) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title='Propagate torrents updated from all sources'>
                      <i class="fa fa-lg fa-cubes"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-9 box-default">
                    <span class="plastic-tag title">
                      [<%= agreement.localnode.name %>] <%= agreement.localnode.url %>
                    </span>
                  </div>

                  <div class="cell col-sm-12 multiline box-default">
                    <div class="form-group">
                      <label for="label" class="col-sm-3 col-md-2 control-label plastic-tag uppercase white shadow">Provides</label>
                      <div class="col-sm-9 col-md-10 cell multiline no-padding">


                        <ul class="media-list">
                          <% _.each(agreement.localnode.filters, function(filter) {
                            var sqm = servicequeuemodels[filter];
                          %>
                          <li class="media" data-toggle="tooltip" data-original-title="<%- sqm.tooltip %>">
                            <a class="pull-left" href="#">
                              <i class="fa fa-lg fa-fw fa-check-square-o"></i>
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><%- sqm.display %></h4>
                              <%- sqm.desc %>
                            </div>
                          </li>
                          <% }) %>
                        </ul>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="cell col-sm-6 multiline box-lightblue">
                <div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.removedead) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title="Remove dead torrents">
                      <i class="fa fa-lg fa-recycle"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.indexfiles) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title='Index torrent files'>
                      <i class="fa fa-lg fa-database"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.allsources) ? 'label-primary' : 'label-default' %>"
                      data-toggle="tooltip" data-original-title='Propagate torrents updated from all sources'>
                      <i class="fa fa-lg fa-cubes"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-9 box-default">
                    <span class="plastic-tag title">
                      [<%= agreement.remotenode.name %>] <%= agreement.remotenode.url %>
                    </span>
                  </div>

                  <div class="cell col-sm-12 multiline box-default">
                    <div class="form-group">
                      <label for="label" class="col-sm-3 col-md-2 control-label plastic-tag uppercase white shadow">Provides</label>
                      <div class="col-sm-9 col-md-10 cell multiline no-padding">

                        <ul class="media-list">
                          <% _.each(agreement.remotenode.filters, function(filter) {
                            var sqm = servicequeuemodels[filter];
                          %>
                          <li class="media" data-toggle="tooltip" data-original-title="<%- sqm.tooltip %>">
                            <a class="pull-left" href="#">
                              <i class="fa fa-lg fa-fw fa-check-square-o"></i>
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><%- sqm.display %></h4>
                              <%- sqm.desc %>
                            </div>
                          </li>
                          <% }) %>
                        </ul>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="cell col-sm-12 multiline primitive">

                <ul role="tablist" class="nav nav-tabs">

                  <li class="active"><a aria-expanded="true"
                                  aria-controls="note<%= agreement.id %>"
                                  data-toggle="tab"
                                  role="tab"
                                  id="note-tab<%= agreement.id %>"
                                  href="#note<%= agreement.id %>"
                                  class="plastic-tag title">Note</a></li>

                  <li class=""><a aria-expanded="false"
                                  aria-controls="graphs-in-<%= agreement.id %>"
                                  data-toggle="tab"
                                  role="tab"
                                  id="graphs-in-tab<%= agreement.id %>"
                                  href="#graphs-in-<%= agreement.id %>"
                                  class="plastic-tag title">Incoming (<%= agreement.remotenode.filters.length %>)</a></li>

                  <li class=""><a aria-expanded="false"
                                  aria-controls="graphs-out-<%= agreement.id %>"
                                  data-toggle="tab"
                                  role="tab"
                                  id="graphs-out-tab<%= agreement.id %>"
                                  href="#graphs-out-<%= agreement.id %>"
                                  class="plastic-tag title">Outgoing (<%= agreement.localnode.filters.length %>)</a></li>

                </ul>
                <div class="tab-content" id="myTabContent">

                  <div aria-labelledby="note-tab<%= agreement.id %>"
                       id="note<%= agreement.id %>"
                       class="tab-pane fade active in cell multiline"
                       role="tabpanel">
                    <div class="markdown-preview" data-markdown="<%= agreement.note %>"></div>
                  </div>

                  <div aria-labelledby="graphs-in-tab<%= agreement.id %>"
                       id="graphs-in-<%= agreement.id %>"
                       class="tab-pane fade cell multiline"
                       role="tabpanel">

                    <% var filters = agreement.remotenode.filters, incoming = true; %>
                    <%- include tab-pane-charts-container.ejs %>


                  </div>

                  <div aria-labelledby="graphs-out-tab<%= agreement.id %>"
                       id="graphs-out-<%= agreement.id %>"
                       class="tab-pane fade cell multiline"
                       role="tabpanel">

                    <% var filters = agreement.localnode.filters, incoming = false; %>
                    <% include tab-pane-charts-container.ejs %>


                  </div>

                </div>

              </div>
            </div>

          </li>
          <% }) %>
        </ul>

      </div>
    </div>
  </div>
</div>
