
<% if(flash && (flash.err || flash.msg)) { %>
<div class="row">
  <div class="col-xs-12">

    <% if(flash && flash.err) { %>
    <% Object.keys(flash.err).forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= flash.err[error].message %>
    </div>
    <% }) %>
    <% } %>

    <% if(flash && flash.msg) { %>
    <% Object.keys(flash.msg).forEach(function(msg) { %>
    <div class="alert alert-success" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= flash.msg[msg].message %>
    </div>
    <% }) %>
    <% } %>

  </div>
</div>
<% } %>

<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-share-alt-square"></i> Agreements
        <div class="pull-right">
          <a href="/agreement" class="btn btn-sm btn-info"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <ul class="plastic-list dashboard-agreement-list">
          <% _.each(agreements, function(agreement) { %>

          <li class="item" data-id="<%= agreement.id %>">
            <div class="body">
              <span class="cell col-md-1 col-sm-2 col-xs-2 box-<%=: agreement.status | getStatusStyle %>">
                <span class="plastic-tag uppercase white small center shadow"><%= agreement.status %></span>
              </span>
              <span class="cell col-md-2 box-default hidden-xs hidden-sm">
                <span class="plastic-tag center shadow small">
                  <%=: agreement.remotenode.scraped | formatBigNumber %> /
                  <%=: agreement.remotenode.downloaded | formatBigNumber %> /
                  <%=: agreement.remotenode.total | formatBigNumber %>
                </span>
              </span>
              <span class="cell col-md-8 col-sm-8 col-xs-7 box-lightblue">
                <span class="plastic-tag title">[<%= agreement.remotenode.name %>] <%= agreement.title %></span>
              </span>
              <div class="btn-group cell col-md-1 col-sm-2 col-xs-3 multiline no-action box-align-right pull-right">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu no-display" role="menu">
                  <% _.each(agreement.actions, function(action) { %>
                  <li>
                    <a class="btn dashboard-agreement-action pull-right<%= (action.enabled) ? '' : ' disabled' %>"
                      data-action="<%= action.key %>" data-id="<%= agreement.id %>" href="#"
                      title="<%= action.help %>"><%- action.display %></a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <div class="expansion">

              <div class="cell col-sm-6 multiline box-lightblue">
                <div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.removedead) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-recycle"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.indexfiles) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-database"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.localnode.allsources) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-cubes"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-9 box-default">
                    <span class="plastic-tag title">
                      [<%= agreement.localnode.name %>] <%= agreement.localnode.url %>
                    </span>
                  </div>

                  <div class="cell col-sm-12 multiline box-default">
                    <div class="form-group">
                      <label for="label" class="col-sm-3 col-md-2 control-label plastic-tag uppercase white shadow">Provides</label>
                      <div class="col-sm-9 col-md-10 cell multiline no-padding">


                        <ul class="media-list">
                          <% _.each(agreement.localnode.filters, function(filter) { %>
                          <li class="media">
                            <a class="pull-left" href="#">
                              <i class="fa fa-lg fa-fw <%=: filter | getAgreementFilterIcon %>"></i>
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><%=: filter | getAgreementFilterDisplay %></h4>
                              <%=: filter | getAgreementFilterDescription %>
                            </div>
                          </li>
                          <% }) %>
                        </ul>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="cell col-sm-6 multiline box-lightblue">
                <div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.removedead) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-recycle"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.indexfiles) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-database"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-1">
                    <span class="label <%= (agreement.remotenode.allsources) ? 'label-primary' : 'label-default' %>">
                      <i class="fa fa-lg fa-cubes"></i>
                    </span>
                  </div>
                  <div class="cell col-sm-9 box-default">
                    <span class="plastic-tag title">
                      [<%= agreement.remotenode.name %>] <%= agreement.remotenode.url %>
                    </span>
                  </div>

                  <div class="cell col-sm-12 multiline box-default">
                    <div class="form-group">
                      <label for="label" class="col-sm-3 col-md-2 control-label plastic-tag uppercase white shadow">Provides</label>
                      <div class="col-sm-9 col-md-10 cell multiline no-padding">


                        <ul class="media-list">
                          <% _.each(agreement.remotenode.filters, function(filter) { %>
                          <li class="media">
                            <a class="pull-left" href="#">
                              <i class="fa fa-lg fa-fw <%=: filter | getAgreementFilterIcon %>"></i>
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading"><%=: filter | getAgreementFilterDisplay %></h4>
                              <%=: filter | getAgreementFilterDescription %>
                            </div>
                          </li>
                          <% }) %>
                        </ul>

                      </div>
                      <div class="clearfix"></div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>

              <div class="cell col-sm-12 multiline">
                <div class="form-group no-padding">
                  <label for="label" class="col-sm-2 col-md-1 control-label plastic-tag uppercase center shadow">Note</label>
                  <div class="col-sm-10 col-md-11 cell box-light multiline no-padding">
                    <div class="markdown-preview" data-markdown="<%= agreement.note %>"></div>
                  </div>
                </div>
              </div>
            </div>

          </li>
          <% }) %>
        </ul>

      </div>
    </div>
  </div>
</div>
