<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-cubes"></i> Public Nodes
        <div class="pull-right">
          <% if (session.authenticated && session.User.admin) { %>
          <a href="/realm/edit" class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> Configure your Node</a>
          <% } %>
          <a href="/realm" class="btn btn-sm btn-info"><i class="fa fa-refresh"></i> Refresh</a>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <div class="list-group">
          <% _.each(clusters, function(cluster) { %>
          <a href="#" class="list-group-item list-group-item-toggle-next" data-id="<%= cluster.id %>" data-model="realm">
            <div class="pull-right">
              <div class="toolbox-left">
                <span class="label <%= (cluster.removedead) ? 'label-primary' : 'label-default' %>">
                  <i class="fa fa-lg fa-recycle"></i>
                </span>
                <span class="label <%= (cluster.indexfiles) ? 'label-primary' : 'label-default' %>">
                  <i class="fa fa-lg fa-database"></i>
                </span>
              </div>
              <div class="toolbox-right">

                <span class="label label-primary" style="width: 160px">
                  <%= Helpers.formatBigNumber(cluster.scraped) %> /
                  <%= Helpers.formatBigNumber(cluster.downloaded) %> /
                  <%= Helpers.formatBigNumber(cluster.total) %>
                </span>
              </div>
            </div>
            <p class="list-group-item-heading" style="margin: 0 165px 0 75px;">
              <%= cluster.name %> @ <%= cluster.url %>
            </p>

          </a>

          <div class="list-group-item list-group-item-collapsed" data-id="<%= cluster.id %>">
            <div class="pull-right">
              <a href="/agreement/new/<%= cluster.id %>" class="btn btn-sm btn-info"><i class="fa fa-share-alt-square"></i> Request Agreement</a>
            </div>
            <div><strong>Status:</strong> <%= cluster.status %></div>
            <p><strong>Note:</strong> <%= cluster.note %></p>
          </div>
          <% }) %>
        </div>

      </div>
    </div>
  </div>
</div>
