<div class="row">

  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-cubes"></i> Public Nodes
        <div class="pull-right">
          <% if (session.authenticated && session.User.admin) { %>
          <a href="/realm/edit" class="btn btn-sm btn-primary"><i class="fa fa-cube"></i> Configure your Node</a>
          <% } %>
          <a href="/realm" class="btn btn-sm btn-info"><i class="fa fa-refresh"></i> Refresh</a>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="widget-body narrow">

        <ul class="plastic-list dashboard-realm-node">
          <% _.each(clusters, function(cluster) { %>
          <li class="item" data-id="<%= cluster.id %>">

            <div class="body">

              <div class="cell col-lg-1 col-md-2 col-sm-2 hidden-xs multicell">
                <div class="cell col-sm-6 box-<%= (cluster.removedead) ? 'primary' : 'default' %>">
                  <span class="label"
                        data-toggle="tooltip" data-original-title="Remove dead torrents">
                    <i class="fa fa-lg fa-recycle"></i>
                  </span>
                </div>

                <div class="cell col-sm-6 box-<%= (cluster.indexfiles) ? 'primary' : 'default' %>">
                  <span class="label"
                        data-toggle="tooltip" data-original-title='Index torrent files'>
                    <i class="fa fa-lg fa-database"></i>
                  </span>
                </div>
              </div>



              <span class="cell col-lg-1 col-md-1 col-sm-2 col-xs-3 box-<%= (cluster.status == 'stable') ? 'success' : 'warning' %>">
                <span class="plastic-tag uppercase white small center shadow">
                  <%= cluster.status %>
                </span>
              </span>
              <span class="cell col-lg-6 col-md-4 col-sm-5 col-xs-6 box-lightblue">
                <span class="plastic-tag title">
                  <%= cluster.name %> @ <%= cluster.url %>
                </span>
              </span>

              <span class="cell col-lg-2 col-md-3 box-default hidden-xs hidden-sm">
                <span class="plastic-tag center shadow small">
                  <%= Helpers.formatBigNumber(cluster.scraped) %> /
                  <%= Helpers.formatBigNumber(cluster.downloaded) %> /
                  <%= Helpers.formatBigNumber(cluster.total) %>
                </span>
              </span>

              <div class="cell col-lg-2 col-md-2 col-sm-3 col-xs-3 no-action box-<%= (cluster.newagreements) ? 'primary' : 'default' %>">
                <a href="/agreement/new/<%= cluster.id %>"
                   class="btn btn-sm btn-<%= (cluster.newagreements && localcluster != cluster.id) ? 'primary' : 'default disabled' %>">
                  <i class="fa fa-share-alt-square"></i> Request Agreement
                </a>
              </div>

            </div>

            <% if (cluster.note && cluster.note.length) { %>
            <div class="expansion">
              <div class="cell col-sm-12 multiline">
                <div class="form-group no-padding">
                  <label for="label" class="col-sm-2 col-md-1 control-label plastic-tag uppercase center shadow">Note</label>
                  <div class="col-sm-10 col-md-11 cell box-light multiline no-padding">
                    <div class="markdown-preview" data-markdown="<%= cluster.note %>"></div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

          </li>
          <% }) %>
        </ul>

      </div>
    </div>
  </div>
</div>
