
<% if(flash && (flash.err || flash.msg)) { %>
<div class="row">
  <div class="col-xs-12">

    <% if(flash && flash.err) { %>
    <% Object.keys(flash.err).forEach(function(error) { %>
    <div class="alert alert-danger" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= flash.err[error].message %>
    </div>
    <% }) %>
    <% } %>

    <% if(flash && flash.msg) { %>
    <% Object.keys(flash.msg).forEach(function(msg) { %>
    <div class="alert alert-success" role="alert">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <%= flash.msg[msg].message %>
    </div>
    <% }) %>
    <% } %>

  </div>
</div>
<% } %>

<div class="row">

  <form action="/linkedentity/update" method="POST" class="form-horizontal" role="form">

    <div class="col-lg-6 no-padding">  <!-- left column -->

      <div class="row">
        <div class="col-lg-12">
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-cog"></i> General Options
              <div class="clearfix"></div>
            </div>
            <div class="widget-body narrow">  <!-- widget-body -->



              <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="name" value="<%= linkedentity.name %>" />
                </div>
                <div class="col-sm-5">
                  <div class="input-mask">Unique</div>
                </div>
              </div>

              <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Port</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="port" value="<%= linkedentity.port %>" />
                </div>
                <div class="col-sm-5">
                  <div class="input-mask">Unique, integer from 1000 to 65536.</div>
                </div>
              </div>

              <hr />

              <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Live</label>
                <div class="col-sm-10">

                  <input type="checkbox" class="" value="true" name="live" <%= (linkedentity.live) ? 'checked="checked"' : '' %> /> Automatically queue torrents found from crawlers to the corresponding MetadataService.

                </div>
              </div>


              <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Autoqueue Model</label>
                <div class="col-sm-5">
                  <select class="selectpicker"
                          name="autoqueue"
                          multiple>
                    <% var target = false, selectedQueueModels = (linkedentity.config.autoqueue) ? linkedentity.config.autoqueue : [] %>
                    <% include queuemodels %>
                  </select>
                </div>
                <div class="col-sm-5">
                  <div class="input-mask"></div>
                </div>
              </div>



            </div>  <!-- widget-body END -->

          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <% var crawler = "bitsnoop", crawlerTitle = "Bitsnoop.com", crawlerIcon = "fa-flask" %>
          <% var values = linkedentity.config.index.bitsnoop %>
          <% include crawler-widget %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% crawler = "kickass"; crawlerTitle = "Kickass.to"; crawlerIcon = "fa-flask" %>
          <% values = linkedentity.config.index.kickass %>
          <% include crawler-widget.ejs %>
        </div>
      </div>




      <div class="row">
        <div class="col-lg-12">
          <% values = linkedentity.config.propagate %>
          <div class="widget">
            <div class="widget-header">
              <i class="fa fa-bullseye"></i> Extra Service: Propagate
              <div class="btn-group btn-toggle pull-right" data-toggle="buttons">
                <label class="btn <%= (values.active) ? 'btn-primary active' : 'btn-default' %>">
                  <input name="propagate" value="true" <%= (values.active) ? 'checked="checked"' : '' %> type="radio"> ON
                </label>
                <label class="btn <%= (!values.active) ? 'btn-primary active' : 'btn-default' %>">
                  <input name="propagate" value="false" <%= (!values.active) ? 'checked="checked"' : '' %> type="radio"> OFF
                </label>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="widget-body narrow">

              <div class="message">
                Propagate database items that were updated recently to remote nodes.
              </div>

              <hr />

              <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Interval</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="propagate-interval" value="<%= values.interval %>" />
                </div>
                <div class="col-sm-5">
                  <div class="input-mask">Integer (in milliseconds)</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>





    </div>  <!-- left column END -->

    <div class="col-lg-6 no-padding">  <!-- right column -->

      <% target = "metadata"; selectedQueueModels = []; var targetTitle = "Metadata", targetIcon = 'fa-code' %>

      <div class="row">
        <div class="col-lg-12">
          <% selectedQueueModels = (linkedentity.config.metadata.onempty) ? linkedentity.config.metadata.onempty : [] %>
          <% values = linkedentity.config.metadata %>
          <% include service-widget %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% target = "tracker"; targetTitle = "Tracker"; selectedQueueModels = []; targetIcon = 'fa-child' %>
          <% selectedQueueModels = (linkedentity.config.tracker.onempty) ? linkedentity.config.tracker.onempty : [] %>
          <% values = linkedentity.config.tracker %>
          <% include service-widget %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% target = "status"; targetTitle = "Status"; selectedQueueModels = []; targetIcon = 'fa-heart' %>
          <% selectedQueueModels = (linkedentity.config.status.onempty) ? linkedentity.config.status.onempty : [] %>
          <% values = linkedentity.config.status %>
          <% include service-widget %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <% target = "media"; targetTitle = "Media"; selectedQueueModels = []; targetIcon = 'fa-film' %>
          <% selectedQueueModels = (linkedentity.config.media.onempty) ? linkedentity.config.media.onempty : [] %>
          <% values = linkedentity.config.media %>
          <% include service-widget %>
        </div>
      </div>

    </div>  <!-- right column END -->

    <div class="row">
      <div class="col-lg-12">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Update"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="hidden" name="id" value="<%= linkedentity.id %>" />
      </div>
    </div>

  </form>

</div>
